.content{
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 99;
}
h1{
	font-size: 200px;
	/*margin-bottom: 10px;	*/
}

a{
	text-decoration: none;
	color: white;
	display: block;
	width: 100px;
	height: 40px;
	line-height: 40px;
	border-radius: 30px;
	border: 1px solid white;
	margin-top: 30px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}