body,html{
    width: 100%;
    height: 100%;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-image: url("../images/bg.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    /*background-repeat: no-repeat;*/
    color: white;
    overflow: hidden;
    text-align: center;
}
/*----------------加载----------------*/
.main-loading {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: black;
    z-index: 999;
}
.main-loading .loading-con {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -40px;
    margin-top: -40px;
    width: 96px;
    height: 96px;
}
.main-loading .loading-con img {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 80px;
    height: 80px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.main-loading .loading-circle {
    width: 80px;
    height: 80px;
    border-top: 8px solid #11994b;
    border-right: 8px solid #f2a808;
    border-bottom: 8px solid #2399e7;
    border-left: 8px solid #c0392b;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-animation: rota 1s infinite linear;
    -moz-animation: rota 1s infinite linear;
    animation: rota 1s infinite linear;
}
@keyframes rota{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
/*--------------背景------------------*/
.bg{
    width: 100%;
    height: 100%;
    position: absolute;
}
.bg div{
    border-radius: 50%;
    background: white;
    width: 10px;
    height: 10px;
    position: absolute;
    -webkit-animation: star 2s linear infinite;
    -o-animation: star 2s linear infinite;
    animation: star 2s linear infinite;
    
}

@keyframes star{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}




.fl{
    float: left;
}
.fr{
    float: right;
}

/*
内墙法清除浮动
伪元素选择器，
after表示在class为clearfix的盒子内容的后面添加
content: ""; 内容*/
.clearfix::after{
    /*设置添加的子元素的内容为空*/
    content: "";
    /*设置添加的子元素为块级元素*/
    display: block;
    /*设置添加的子元素的高度为0*/
    height: 0;
    /*设置添加的子元素看不见*/
    visibility: hidden;
    /*给添加的子元素设置clear: both;*/
    clear: both;
}
.clearfix{
    /*兼容IE6*/
    *zoom:1;
}
