
/*---------------导航开始-------------*/
nav{
	width: 400px;
	height: 150px;
	position: absolute;
	bottom: 5%;
	left:50%;
	z-index: 1;
	transform: translateX(-50%);
}
nav ul{
	width: 100%;
	background: blue;
}
nav ul li{
	width: 80px;
	height: 80px;
	text-align: center;
	line-height: 80px;
	border-radius: 40px;
	position: absolute;
	bottom: 0px;
	left: 50%;
	transform: translateX(-50%);
	box-sizing: border-box;
	border: 2px solid white;
	opacity: 0;
	display: none;
	transition: opacity 0.5s,left 0.5s,top 0.5s;
}
nav ul li:hover{
	background: rgba(0,0,0,0.7);
}
nav ul li a{
	width: 100%;
	height: 100%;
	display: block;
	text-decoration: none;
	font-weight: 700;
	color: white;
}
.button{
	position: absolute;
	bottom: 0;
	left:50%;
	transform: translateX(-50%);
	width: 200px;
	height: 60px;
	text-align: center;
	line-height: 60px;
	color: #fff;
	font-size: 24px;
	text-transform: uppercase;
	border-radius:30px;
	background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
	-webkit-background-size: 400%;
	background-size: 400%;
	cursor: pointer;
}
.button:hover{
	-webkit-animation: mov 3s linear infinite;
	-o-animation: mov 3s linear infinite;
	animation: mov 3s linear infinite;
}
.button:before{
	content: "";
	position: absolute;
	top:-5px;
	left:-5px;
	right:-5px;
	bottom:-5px;
	border-radius: 30px;
	z-index: -1;
	background: linear-gradient(90deg,#03a9f4,#f441a5,#ffeb3b,#03a9f4);
	-webkit-background-size: 400%;
	background-size: 400%;
	opacity: 0;
	transition:0.5s;
}
.button:hover:before{
	opacity: 1;
	filter: blur(20px);
	-webkit-animation: mov 3s linear infinite;
	-o-animation: mov 3s linear infinite;
	animation: mov 3s linear infinite;
}
/*---------------背景内容-------------*/
.content{
	width: 100%;
	height: 50%;
	position: absolute;
	top:50%;
	transform: translateY(-50%);
	text-align: center;
	transition: all 0.4s;
}
.content h1{
	font-size: 200px;
}
.download{
	display: none;
}
/*---------------简历验证内容-------------*/
.resumedown,.download{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	background: rgba(0,0,0,0.7);
	z-index: 2;
}
.verify-content{
	width: 300px;
	height: 200px;
	position: absolute;
	border: 3px solid white;
	box-sizing: border-box;
	left: 50%;
	top:50%;
	transform: translate(-50%,-50%);
}
.iconiconfontzhizuobiaozhun46{
	color: white;
	font-size: 30px;
	position: absolute;
	top: 0;
	right: 10px;
}
.iconresume-line,.iconziliao{
	display: block;
	margin-top: 20px;
	color: white;
	font-size: 100px;
}
.verify h3{
	margin-bottom: 5px;
}
input[type="submit"]{
	font-size: 12px;
	cursor: pointer;
}
/*---------------动画-------------*/
@keyframes mov{
	from{
		background-position: 0%;
	}
	to{
		background-position: 100%;
	}
}

/* 响应式  */

@media screen and (min-width:1200px){
    .content h1{
		font-size: 200px;
	}
}
 @media screen and (min-width:700px) and (max-width:1200px){
    .content h1{
		font-size: 150px;
	}
}
@media screen and (max-width:700px){
    .content h1{
		font-size: 80px;
	}
}