*{
  margin: 0;
  bottom: 0;
  box-sizing: border-box;
}
body,html{
  width: 100%;  
  height: 100%;
  background-color: white;    
  margin: 0;
  overflow: hidden;
  background-repeat: no-repeat;
}
.logoNav{
  width: 100%;
  height: 50px;
  position: relative;
}
.logoSmall{
  padding-top: 20px;
  width: 60px;
  height: 60px;
}
p{
  width: 80%;
  height: auto;
  color: #000;
  text-align: center;
  background-color: #fff;
}
.centerStyle{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.shareCreat{
  width: 100%;
  display: flex;
  justify-content: space-around;
}
canvas{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: absolute;
  top: -30%;
  left: -10%;
  display: none;
  animation: sca 1s linear 0.2s 1 forwards;
}
#mouseD{
  width: 250px;
  height: 250px;
  padding-top: 35px;
  position: absolute;
  z-index: 99;
  /* display: none; */
}
#mouseD p{
  width: auto;
  height: 20px;
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0 10px;
  display: none;
}
#mouseD img{
  width: 80px;
  height: 80px;
  position: relative;
  z-index: 99;
}
#mouseD span{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 80px;
  left: 0px;
}
.aboutblack{
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 50%;
  background: black;
  color: white;
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
}
.aboutwhite{
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 50%;
  background: white;
  color: black;
  display: block;
  position: absolute;
  right: 20px;
  top: 20px;
}
section{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#page1 img{
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 99;
}
#page2{
  display: none;
}
.picall{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  justify-content: space-between;
  align-items: center;
  display: none;
}
.picall .leftButton{
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.picall .leftButton p{
  width: 80%;
  cursor: pointer;
  z-index: 999;
  /* height: auto;
  text-align: center;
  background-color: #fff; */
}
.picall .leftButton p:nth-child(2){
  margin-top: 30%;
}
.picall .rightPic{
  width: 70%;
  height: 100%;
  background: rgb(255, 255, 255,0.3);
  z-index: 999;
}
.picall .rightPic .toplogo{
  width: 100%;
  height: 10%;
  position: relative;
}
.picall .rightPic ul{
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  flex-wrap: wrap;
  overflow: auto;
  padding: 0;
}
.picall .rightPic ul li{
  padding-left: 10px;
  padding-top: 10px;
  width: 210px;
  height: 280px;
  position: relative;
}
.picall .rightPic ul li img{
  width: 100%;
  height: 100%;
}
.picall .rightPic ul li span{
  width: 30px;
  height: 30px;
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  background: red;
}
.picShow,.picWrite{
  margin-top: 30px;
  width: 70%;
  max-width: 900px;
  height: 85%;
  display: none;
}
.picShow .top,.picWrite .top{
  width: 100%;
  height: 88%;
}
.picShow .top{
  display: flex;
  align-items: center;
  justify-content: center;
}
.picShow .top img{
  display: block;
  width: 35%;
  max-width: 315px;
  max-height: 420px;
  margin-right: 4%;
  height: 80%;
}
.picShow .top p{
  width: 35%;
  height: 80%;
  margin-left: 4%;
  font-size: 30px;
  background: transparent;
}
.picShow .bottom, .picWrite .bottom{
  width: 100%;
  height: 10%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.picShow .bottom p{
  width: 120px;
}
.picWrite .bottom p{
  width: 220px;
}
.picWrite .top{
  background: #008040;
}
.picWrite .top .ttop{
  width: 100%;
  height: 88%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.picWrite .top .pickCo{
  width: 100%;
  height: 20%;
  padding-left: 30px;
  position: relative;
}
.sp-replacer {
  position: absolute;
  top: 0;
  right: 20px;
  width: 40px;
  height: 30px;
}
.sp-preview,.sp-preview-inner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 30px;
  height: 20px;
  margin: 0;
}
.picWrite .top .ttop .file{
  width: 35%;
  height: 80%;
  border: 3px dashed #fff;
  position: relative;
}
.picWrite .top .ttop .file img{
  width: 100%;
  height: 100%;
  display: none;
}
.picWrite .top .ttop .file span{
  margin: 0;
}
.picWrite .top .ttop .file input{
  z-index: 999;
  opacity: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-decoration: none;
}
.picWrite .top .ttop textarea{
  width: 35%;
  height: 80%;
  margin-left: 4%;
  font-size: 30px;
  color: #fff;
  border: none;
  background: transparent;
  resize: none;
  outline:none;
}
#page3{
  display: none;
}
.closeblack,.toDrop,.uploadFile{
  margin-top: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  font-weight: bold;
  border-radius: 50%;
  background: black;
  color: white;
  display: block;
  cursor: pointer;
}
@keyframes sca{
  0%{
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
  80%{
    width: 1000px;
    height: 1000px;
  }
  98%{
    width: 220%;
    height: 220%;
    top: 1%;
    left: 1%;
    transform: translate(-10%,-10%);
    border-radius: 50%;
  }
  100%{
    top: 0px;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
}